.farmListWrapper {
  padding: 16px;
  margin: 0 auto;
  max-width: 768px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
	text-align: center;
}

.farmListForm {
  margin-bottom: 15px;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
}

.formRow + .formRow {
  margin-top: 18px;
}

.formWrapper fieldset {
  padding: 0;
  margin: 0 auto;
  width: 50%;
  border: 0;
}

.formWrapper fieldset:first-child {
  padding-right: 4px;
}

.formWrapper fieldset:last-child {
  padding-left: 4px;
}

.formLabel {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: #2c3e50;
}

.formInput {
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #dedede;
  border-radius: 4px;
  transition: border-color .25s ease-out;
}

.formInput:focus {
  border-color: #3498db;
  box-shadow: 0 0 2px #3498db;
  outline: 0;
}

.btn,
.btnRemove,
.btnReset {
  display: block;
  border: 0;
  cursor: pointer;
  transition: all .25s ease-out;
}

.btnAdd {
  padding: 12px 18px;
  margin: 12px auto 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #3498db;
  border-radius: 4px;
}

.btnAdd:hover {
  background-color: #2980b9;
}

.btnRemove,
.btnReset {
  padding: 0;
  font-size: 12px;
  font-style: italic;
  color: hsl(6, 63%, 46%);
  background-color: transparent;
}

.btnRemove:hover,
.btnReset:hover {
  color: hsl(6, 63%, 26%);
}

.btnReset {
  margin: 21px auto 0;
}
